@import 'src/assets/sass/abstracts/vars';

.site-powerful {
  --caption-opacity: 0.75;
}

.image {
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    max-width: 100%;
  }

  .image-caption {
    display: block;
    font-style: italic;
    font-size: $font-small;
    color: $image-caption-color;
  }

  &.icon-with-caption {
    text-align: center;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-bottom: 0.5rem;
    }

    .image-caption {
      font-size: 1rem;
      font-style: normal;
      opacity: var(--caption-opacity);
    }
  }
}
