@import 'src/assets/sass/abstracts/vars';

.article-list {
  .title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .learn-more {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-body);

    i {
      padding-left: 0.5rem;
      vertical-align: top;
    }
  }

  hr {
    width: 100%;
    border-top: 5px solid var(--text-button);
    border-radius: var(--roundness);
    opacity: 1;
  }

  a {
    text-decoration: none;
    color: var(--text-colored);
    font-weight: bold;
  }

  .background {
    background-color: var(--bg-main);
  }
}
