.promo-cta {
  background-color: var(--bg-main-alt);
  padding-top: $component-margin * 2;
  padding-bottom: $component-margin * 2;

  @include respond-to(mobile-large) {
    padding-left: $size-padding;
    padding-right: $size-padding;
  }

  .main-content {
    --bs-gutter-x: 8rem;
    --bs-gutter-y: 3rem;
  }

  img {
    border-radius: var(--roundness);
    overflow: hidden;
  }

  &.with-background-image {
    display: flex;
    align-items: center;
    background-color: $bg-transparent !important;
    min-height: 70vh;

    .container {
      position: relative;
      z-index: 2;
    }

    .parallax-background-image,
    .background-image {
      position: absolute !important;
      inset: 0;
      z-index: 1;
      /* stylelint-disable */
      mask-image: radial-gradient(
        ellipse,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(255, 255, 255, 0.7) 100%
      );
      /* stylelint-enable */
    }
  }
}
