@import 'src/assets/sass/abstracts/vars';

.eyebrow {
  color: var(--text-footer);
  background-color: var(--bg-footer);
  width: 100%;

  .col-placeholder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
}
