.theme-switcher {
  position: relative;
  display: inline-block;
  width: 3.125rem;
  height: 1.68rem;
  margin: 0.625rem 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + .theme-switcher-slider {
        background-color: var(--bg-saturated);

        &::before {
          transform: translateX(22px);
          background-color: #fff;
        }
      }
    }
  }

  &-slider {
    position: absolute;
    inset: 0;
    border-radius: calc(var(--roundness) * 2.125);
    background-color: var(--bg-main);
    border: 1px solid var(--border-color);
    transition: 0.4s;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      height: 1.3rem;
      width: 1.3rem;
      left: 0.187rem;
      bottom: calc(0.187rem - 1px);
      background-color: var(--bg-saturated);
      border-radius: 50%;
      transition: 0.4s;
    }
  }
}
