.icon-accent {
  width: 144px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-saturated);
  clip-path: polygon(
    50.367% 76.106%,
    38.314% 100%,
    38.664% 73.2%,
    16.968% 88.714%,
    29.642% 65.148%,
    3.273% 68.729%,
    25.367% 53.795%,
    0.368% 44.621%,
    26.817% 41.742%,
    8.916% 21.915%,
    33.667% 31.748%,
    26.96% 5.811%,
    44.34% 26.106%,
    50.367% 0%,
    56.394% 26.106%,
    73.774% 5.811%,
    67.067% 31.748%,
    91.818% 21.915%,
    73.917% 41.742%,
    100.37% 44.621%,
    75.367% 53.795%,
    97.461% 68.729%,
    71.093% 65.148%,
    83.767% 88.714%,
    62.071% 73.2%,
    62.421% 100%
  );

  img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
  }

  &.inverted {
    background-color: var(--text-body);
  }
}
