.promo-cta {
  background-color: var(--bg-main-alt);
  padding-top: $component-margin * 2;
  padding-bottom: $component-margin * 2;

  @include respond-to(mobile-large) {
    padding-left: $size-padding;
    padding-right: $size-padding;
  }

  .main-content {
    --bs-gutter-x: 8rem;
    --bs-gutter-y: 3rem;
  }

  img {
    border-radius: var(--roundness);
    overflow: hidden;
  }

  &.no-background {
    background-color: $bg-transparent !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: $component-margin;
    margin-bottom: $component-margin;
  }
}
