.page-background {
  padding: 0;

  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  div {
    position: relative;
  }

  .background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* stylelint-disable */
    mask-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 20%) 0%,
      rgba(255, 255, 255, 100%) 100%
    );
    /* stylelint-enable */
  }

  .rounded-corners {
    border-radius: var(--roundness);
  }

  .background-content {
    background-color: var(--bg-main);
  }

  &.spaced-top {
    img + .container {
      margin-top: 30vh;
    }
  }
}
