.language-switcher {
  position: relative;
  display: inline-block;
  color: inherit;
  border: none;
  margin: 10px 0;
  cursor: pointer;

  .selected-language {
    margin-right: 1.25rem;
  }

  .chevron-icon {
    position: relative;
    top: -2px;
    transition: transform 0.3s ease-in-out;
  }

  .language-dropdown {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    background-color: var(--bg-footer);
    border-radius: var(--roundness);
    border: 1px solid var(--border-color);
    white-space: nowrap;
    z-index: 50;
  }

  &.expanded {
    .chevron-icon {
      transform: rotate(180deg);
    }
  }
}
