.site-financial .five-column-cta {
  div.col {
    text-align: -webkit-center;
  }

  .image-container {
    aspect-ratio: 1 / 1;
    background-color: #f0f5f7;
    padding: 45px;
    border-radius: 128px;
    margin-bottom: 20px;
  }

  .text-container {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
