@import 'src/assets/sass/abstracts/mixins';
@import 'variables';

footer {
  @include respond-to(mobile-large) {
    padding-top: 0;
  }

  .container-dark-background {
    background-color: var(--bg-footer);
  }

  .indent-inner {
    padding: 65px;

    @include respond-to(mobile-large) {
      padding: 40px 0;
    }
  }

  .content {
    display: flex;
    padding-bottom: 3rem;
    border-bottom: #f0f5f7 solid 2px;

    .logo {
      display: block;
      margin-right: 4rem;

      @include respond-to(mobile-large) {
        display: none;
      }

      .p-svg {
        display: block;
        max-height: 182px;
        max-width: 218px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
          hue-rotate(288deg) brightness(102%) contrast(102%);
      }

      .dot-svg {
        display: block;
        max-height: 85px;
        margin-top: 1rem;
        filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(4938%) hue-rotate(9deg)
          brightness(106%) contrast(108%);
      }
    }

    .title {
      color: #fff;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 1.2rem;
    }

    .links a {
      text-decoration: none;
      color: #fff;
      font-size: 25px;
    }
  }

  .footnote {
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding-left: 0;

    @include respond-to(mobile-horizontal) {
      flex-direction: column;
      padding-left: 1rem;
    }

    .privacy-links {
      display: flex;
      flex-direction: column;

      @include respond-to(desktop) {
        flex-direction: row;
        gap: 1rem;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
