@import 'src/assets/sass/abstracts/mixins';
@import 'variables';

footer {
  background-color: var(--bg-footer);
  color: var(--text-footer);
  font-size: 1.5rem;

  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  a,
  .links a,
  .privacy-links a {
    color: var(--text-footer);
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .content {
    display: flex;
    margin: 2rem 0;

    > .row {
      width: 100%;
    }

    .logo {
      display: block;
      margin-right: 4rem;

      @include respond-to(mobile-large) {
        display: none;
      }

      .p-svg {
        display: block;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
          hue-rotate(288deg) brightness(102%) contrast(102%);
        max-width: 13.625rem;
        max-height: 11.375rem;
      }

      .dot-svg {
        display: block;
        margin-top: 1rem;
        filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(4938%) hue-rotate(9deg)
          brightness(106%) contrast(108%);
        max-width: 5.25rem;
        max-height: 5.25rem;
      }
    }

    .title {
      font-weight: bold;
      margin-bottom: 1.2rem;
    }
  }

  hr {
    border-top: var(--text-footer) solid 2px;
    opacity: 0.75;
    border-radius: var(--roundness);
  }

  .footnote {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    @include respond-to(mobile-large) {
      flex-direction: column;
      gap: 1rem;
    }

    .privacy-links {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @include respond-to(mobile-large) {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
