.dark .carousel {
  .carousel-item {
    @include media-breakpoint-up(md) {
      img {
        /* stylelint-disable */
        mask-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(3, 24, 39, 1) 69%);
        /* stylelint-enable */
      }
    }

    background-color: #031827;

    h1 {
      color: white;
    }

    p {
      color: white;
    }

    .side-content {
      h1 {
        color: white;
      }

      p {
        color: white;
      }
    }
  }
}
