.dark .carousel {
  .carousel-item {
    @include media-breakpoint-up(md) {
      &::after {
        width: 100%;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to left, #031827 0%, rgba(255, 255, 255, 0) 69%);
        height: 100%;
      }
    }

    background-color: #031827;

    h1 {
      color: white;
    }

    p {
      color: white;
    }

    .side-content {
      h1 {
        color: white;
      }

      p {
        color: white;
      }
    }
  }
}
