.promo-cta.saturated {
  background-color: var(--bg-color);

  .dark & {
    .button {
      background-color: var(--text-body);
      color: var(--bg-body);

      &:hover {
        filter: brightness(85%);
      }
    }
  }
}
