<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!-- DEMO TEAM CUSTOMIZATION - This file includes custom configuration -->
    <settings>
      <setting name="Sitecore.ThumbnailsGeneration.Enabled" value="false" />
    </settings>
  </sitecore>
</configuration>
