<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!-- DEMO TEAM CUSTOMIZATION - This file includes custom configuration -->
    <settings>
      <setting name="Sitecore.ThumbnailsGeneration.Enabled" value="false" />
      <setting name="ExperienceEdge.EnableItemLanguageFallback" value="true"/>
      <setting name="ExperienceEdge.EnableFieldLanguageFallback" value="true"/>
    </settings>

    <sites>
      <!--
        - Enable language fallback for Content Editor and Experience Editor (shell).
        - Enable language fallback for any future sites that inherit from website.
      -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/Verticals</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
    </sites>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="XmCloudSXAStarter.Pipelines.GetLayoutServiceContext.ThemeContext, XmCloudSXAStarter" resolve="true" />
          </getLayoutServiceContext>
        </pipelines>
      </group>
      <parseSiteItem>
        <processor type="XmCloudSXAStarter.Pipelines.ParseSiteItem.AddThemeProperty, XmCloudSXAStarter" resolve="true" />
      </parseSiteItem>
    </pipelines>
  </sitecore>
</configuration>
