.site-financial {
  --promo-cta-text-opacity: 1;
}

.site-services {
  --promo-cta-text-opacity: 0.65;
}

.three-column-cta {
  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }

  img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: var(--roundness);
    margin-bottom: 1em;
  }

  .row {
    @include respond-to(mobile-large) {
      gap: 3em;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  p {
    margin-bottom: 1.5rem;
    opacity: var(--promo-cta-text-opacity);
  }

  .button {
    margin-top: auto;
  }

  &.bordered {
    .content-wrapper {
      border-radius: var(--roundness);
      overflow: hidden;
      align-items: center;
      text-align: center;
      border: 5px solid var(--border-color);
      padding-bottom: 1em;
    }

    h2,
    p {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    img {
      border-radius: 0;
    }
  }

  &.colored {
    img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .content-wrapper {
      background-color: var(--bg-main);
      border-radius: var(--roundness);
      overflow: hidden;
      align-items: center;
      text-align: center;
      padding-bottom: 1em;
    }

    h2,
    p {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .dark & {
      .button {
        background-color: var(--text-body);
        color: var(--bg-body);

        &:hover {
          filter: brightness(85%);
        }
      }
    }
  }

  &.with-icons {
    .row {
      border: 1px solid var(--border-color);
      border-radius: var(--roundness);
      gap: 0;

      > div:nth-child(2) {
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);

        @include respond-to(mobile-large) {
          border-left: none;
          border-right: none;
          border-top: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
        }
      }
    }

    .wrapper-link {
      display: block;
      padding: 3rem;

      &:hover {
        .image-wrapper img {
          transform: scale(1.2);
        }
      }
    }

    .image-wrapper {
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-saturated);
      border-radius: 100%;

      img {
        width: 2rem;
        height: auto;
        margin: 0;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &.with-icons-compact {
    .wrapper-link {
      padding: 2rem 3rem 1rem;
    }

    .image-wrapper {
      width: 4rem;
      height: 4rem;

      img {
        width: 1.5rem;
      }
    }

    p {
      opacity: 1;
    }
  }
}
